<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paquetes</title>
    <link rel="stylesheet" href="/Grupo_2/Proyecto_agencia/viajes/templates/CSS/Paquete.css">
    <link rel="stylesheet" href="/Grupo_2/Proyecto_agencia/viajes/static/css/bootstrap.min.css">
</head>
<body>
    <div class="Titulos">
        <img class = "Logo" src="/Grupo_2/Proyecto_agencia/viajes/static/assets/img/Icono.ico" alt="NOCARGO">
        <div id="TituloModificacion">
            <h2 id="Titulo">RumboTravel</h2>
            <h3 id="Subtitulo">Paquetes Turisticos</h3>
        </div>
    </div>

    <div id="Centrar">
        <div class= "secciones">
            <img class = "Imagen" src="/Grupo_2/Proyecto_agencia/viajes/static/assets/img/Fondo2.jpg" alt="">
            <div class ="Texto">
            <h3>NOMBRE DEL PAQUETE</h3>
            <p>Vigencia (Inicio): </p>
            <p>Vigencia (Fin): </p>
            <p>Noches: </p>
            <p>Dias: </p>
            <p>Costo: </p>
            <p>Disponibilidad: </p>
            <p>Estado: </p>
        </div>
        <a id = "VerMas1" href="Detalle_Paquete.html">Ver Mas</a>
    </div>

    <div id="Centrar">
        <div class= "secciones">
            <img class = "Imagen" src="/Grupo_2/Proyecto_agencia/viajes/static/assets/img/Fondo2.jpg" alt="">
            <div class ="Texto">
                <h3>NOMBRE DEL PAQUETE</h3>
                <p>Vigencia (Inicio): </p>
                <p>Vigencia (Fin): </p>
                <p>Noches: </p>
                <p>Dias: </p>
                <p>Costo: </p>
                <p>Disponibilidad: </p>
                <p>Estado: </p>
            </div>
            <a id = "VerMas2" href="Detalle_Paquete2.html">Ver Mas</a>
    </div>

    <div id="Centrar">
        <div class= "secciones">
            <img class = "Imagen" src="/Grupo_2/Proyecto_agencia/viajes/static/assets/img/Fondo2.jpg" alt="">
            <div class ="Texto">
                <h3>NOMBRE DEL PAQUETE</h3>
                <p>Vigencia (Inicio): </p>
                <p>Vigencia (Fin): </p>
                <p>Noches: </p>
                <p>Dias: </p>
                <p>Costo: </p>
                <p>Disponibilidad: </p>
                <p>Estado: </p>
            </div>
            <a id = "VerMas3" href="Detalle_Paquete3.html">Ver Mas</a>
    </div>

    <div id="Centrar">
        <div class= "secciones">
            <img class = "Imagen" src="/Grupo_2/Proyecto_agencia/viajes/static/assets/img/Fondo2.jpg" alt="">
            <div class ="Texto">
                <h3>NOMBRE DEL PAQUETE</h3>
                <p>Vigencia (Inicio): </p>
                <p>Vigencia (Fin): </p>
                <p>Noches: </p>
                <p>Dias: </p>
                <p>Costo: </p>
                <p>Disponibilidad: </p>
                <p>Estado: </p>
            </div>
            <a id = "VerMas4" href="Detalle_Paquete4.html">Ver Mas</a>
    </div>

    <div id="Centrar">
        <div class= "secciones">
            <img class = "Imagen" src="/Grupo_2/Proyecto_agencia/viajes/static/assets/img/Fondo2.jpg" alt="">
            <div class ="Texto">
                <h3>NOMBRE DEL PAQUETE</h3>
                <p>Vigencia (Inicio): </p>
                <p>Vigencia (Fin): </p>
                <p>Noches: </p>
                <p>Dias: </p>
                <p>Costo: </p>
                <p>Disponibilidad: </p>
                <p>Estado: </p>
            </div>
            <a id = "VerMas5" href="Detalle_Paquete5.html">Ver Mas</a>
    </div>

    <div id="Centrar">
        <div class= "secciones">
            <img class = "Imagen" src="/Grupo_2/Proyecto_agencia/viajes/static/assets/img/Fondo2.jpg" alt="">
            <div class ="Texto">
            <h3>NOMBRE DEL PAQUETE</h3>
            <p>Vigencia (Inicio): </p>
            <p>Vigencia (Fin): </p>
            <p>Noches: </p>
            <p>Dias: </p>
            <p>Costo: </p>
            <p>Disponibilidad: </p>
            <p>Estado: </p>
        </div>
        <a id = "VerMas6" href="Detalle_Paquete6.html">Ver Mas</a>
    </div>

    <div id="Centrar">
        <div class= "secciones">
            <img class = "Imagen" src="/Grupo_2/Proyecto_agencia/viajes/static/assets/img/Fondo2.jpg" alt="">
            <div class ="Texto">
                <h3>NOMBRE DEL PAQUETE</h3>
                <p>Vigencia (Inicio): </p>
                <p>Vigencia (Fin): </p>
                <p>Noches: </p>
                <p>Dias: </p>
                <p>Costo: </p>
                <p>Disponibilidad: </p>
                <p>Estado: </p>
            </div>
            <a id = "VerMas7" href="Detalle_Paquete7.html">Ver Mas</a>
    </div>

    <div id="Centrar">
        <div class= "secciones">
            <img class = "Imagen" src="/Grupo_2/Proyecto_agencia/viajes/static/assets/img/Fondo2.jpg" alt="">
            <div class ="Texto">
                <h3>NOMBRE DEL PAQUETE</h3>
                <p>Vigencia (Inicio): </p>
                <p>Vigencia (Fin): </p>
                <p>Noches: </p>
                <p>Dias: </p>
                <p>Costo: </p>
                <p>Disponibilidad: </p>
                <p>Estado: </p>
            </div>
            <a id = "VerMas8" href="Detalle_Paquete8.html">Ver Mas</a>
    </div>

    <div id="Paginacion">
        <h3>Pagina #1</h3>
        <a type="button" class="btn btn-outline-info" href="Paquete.html">1</a>
        <a type="button" class="btn btn-outline-info" href="Pagina2.html">2</a>
        <a type="button" class="btn btn-outline-info" href="Pagina3.html">3</a>
        <a type="button" class="btn btn-outline-info" href="Pagina4.html">4</a>
        <a type="button" class="btn btn-outline-info" href="Pagina5.html">5</a>
    </div>
       

    <script src="/Grupo_2/Proyecto_agencia/viajes/static/js/bootstrap.min.js"></script>
</body>
</html>