{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/css/sweetalert2.min.css" />
    <link rel="stylesheet" href="../../static/css/css/style_paquets.css" />
    <link rel="stylesheet" href="../../static/css/css/detalles.css" />
    <title>Document</title>
</head>
<body>
  <header class="contenido_menu">
    <div class="contenido_menu__logo1"><img src="/img/R.jpeg" alt="" class="contenido_menu__log1"></div>   
        <div class="contenido_menu__titulo"> 
          <h1 class="contenido_menu__titulo--title_1">RUMBO</h1>
          <h1 class="contenido_menu__titulo--title_2">TRAVEL</h1>
        </div> 
    <div class="contenido_menu__logo2"><img src="" alt="" class="contenido_menu__log1">
    <button class="boton_iniciar">iniciar sesion </button></div>
</header>
    <hr>
    {% for item in resultados %}
       <h3>Detalles <color>{{item.Nombre_del_Paquete}}</color></h3>
        <div class="container_dettale">
            <div class="col-md-4 container_detalle__selecionar2">
                <div class="contenedor_cuerpo__p_valor">desde</div>
                  <div class="contenedor_cuerpo__container_valor">
                    <h6> {{item.costo}}
                    </h6>
                    <p class="contenedor_cuerpo__container_valor--p_valor2">COP/Por persona y por estadía</p>
                  </div>
                <hr>
                 <label for="validationCustomUsername" class="form-label">fecha</label>
                 <div class="input-group has-validation">
                  <input type="date" class="fecha" id="fecha" value="2024-09-01">
                </div >
                <hr>
                  <div class="col-12">
                    <button class="btn btn_selecionar" id="boton" type="submit">Seleccionar</button>
                  </div>
            </div>

        <div class="ocult"> 
        <div class="container_detalle__agregar" >
          
            <div class="container_detalle__container_seleccion1">
            <h5>Habitacion Doble</h5>
             <p>Aruba - Curacao - Bonaire - San Andrés - Cuba-Plan con desayuno<p>

                <p>Doble Plan con desayuno</p>

                <p>Tarifa adulto: 377.001 COP</p>
            </div>
            <hr>
            <div class="container_detalle__container_seleccion2">
                <label for="validationCustomUsername" class="form-label">Numero de habitaciones</label>
                <input type="number" class="form-control container_detalle__inpus" placeholder="0"  required>
                 
                <label for="validationCustomUsername" class="form-label">Adultos</label>
                <input type="number" class="form-control container_detalle__inpus" placeholder="0" required>
                 
                <label for="validationCustomUsername" class="form-label ">Noches adicionales</label>
                <input type="number" class="form-control container_detalle__inpus" placeholder="0"  required>
                 
            </div>
            <hr>
            <div class="container_detalle__container_seleccion3">
                <p>Total por 0 habitaciones Doble<p>
                    <p> 0 COP<p>
                        <p>Tarifa adulto, noche adicional:</p>
                            <p>189.001 COP Por persona y por estadía</p>
                <div class="col-12">
                    <button class="btn btn-primary btn_agregar" type="submit">Agregar</button>
                  </div>
            </div>
        </div>

        <div class="container_detalle__agregar">
            <div class="container_detalle__container_seleccion1">
            <h5>Habitacion  Triple</h5>
             <p>Aruba - Curacao - Bonaire - San Andrés - Cuba-Plan con desayuno<p>

                <p>Doble Plan con desayuno</p>

                <p>Tarifa adulto: 377.001 COP</p>
            </div>
            <hr>
            <div class="container_detalle__container_seleccion2">
                <label for="validationCustomUsername" class="form-label">Numero de habitaciones</label>
                <input type="number" class="form-control container_detalle__inpus" placeholder="0"  required>
                 
                <label for="validationCustomUsername" class="form-label">Adultos</label>
                <input type="number" class="form-control container_detalle__inpus" placeholder="0" required>
                 
                <label for="validationCustomUsername" class="form-label ">Noches adicionales</label>
                <input type="number" class="form-control container_detalle__inpus" placeholder="0"  required>
                 
            </div>
            <hr>
            <div class="container_detalle__container_seleccion3">
                <p>Total por 0 habitaciones Doble<p>
                    <p> 0 COP<p>
                        <p>Tarifa adulto, noche adicional:</p>
                            <p>189.001 COP Por persona y por estadía</p>
                <div class="col-12">
                    <button class="btn btn-primary btn_agregar" type="submit">Agregar</button>
                  </div>
            </div>
        </div>

        <div class="container_detalle__agregar">
            <div class="container_detalle__container_seleccion1">
            <h5>Habitacion  Triple</h5>
             <p>Aruba - Curacao - Bonaire - San Andrés - Cuba-Plan con desayuno<p>

                <p>Doble Plan con desayuno</p>

                <p>Tarifa adulto: 377.001 COP</p>
            </div>
            <hr>
            <div class="container_detalle__container_seleccion2">
                <label for="validationCustomUsername" class="form-label">Numero de habitaciones</label>
                <input type="number" class="form-control container_detalle__inpus" placeholder="0"  required>
                 
                <label for="validationCustomUsername" class="form-label">Adultos</label>
                <input type="number" class="form-control container_detalle__inpus" placeholder="0" required>
                 
                <label for="validationCustomUsername" class="form-label ">Noches adicionales</label>
                <input type="number" class="form-control container_detalle__inpus" placeholder="0"  required>
                 
            </div>
            <hr>
            <div class="container_detalle__container_seleccion3">
                <p>Total por 0 habitaciones Doble<p>
                    <p> 0 COP<p>
                        <p>Tarifa adulto, noche adicional:</p>
                            <p>189.001 COP Por persona y por estadía</p>
                <div class="col-12">
                    <button class="btn btn-primary container_detalle__btn_agregar" type="submit">Agregar</button>
                  </div>
            </div>
        </div>
       </div>
        <div class="container_detalle__detalles">   
            <ul>
                <p><strong>Descripción:</strong>
                </p>  
                    <li> {{item.descripcion_paquete}}</li>
                
            </ul>
            <ul>
        <p><strong>Incluye:</strong>
          
        </p>    
            <li> {{item.incluye}}</li>
            
        </ul>
        <ul>
        <p><strong>No Incluye:</strong>
           
        </p>
        
        <li> {{item.no_incluye}}</li>
        </ul>
        <ul>
        <p><strong>Nombre del Hospedaje:</strong>
           
        </p>
        <li> {{item.Nombre_del_Hospedaje}}</li>
        </ul>
        <ul>
        <p><strong>Telefeno:</strong>
           

        </p>
        
        <li> {{item.telefono}}</li>
        </ul>
       
       </div>
        {% endfor%}
      </div>

    <script src="{%static 'js/jquery-3.7.1.min.js'%}"></script>
    <script src="{%static 'js/sweetalert2.all.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="{%static 'js/scripts.js'%}"></script>
    <script src="{%static 'js/consulta.js'%}"></script>
</body >

</html>