<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/css/sweetalert2.min.css" />
    <link rel="stylesheet" href="../../static/css/css/style_paquets.css" />
    <link rel="stylesheet" href="../../static/css/css/detalles.css" />
    <title>Document</title>
</head>
<body>
    <header class="contenido-menu">
        <div class="logo"><img src="/img/R.jpeg" alt="" class="log"></div>   
            <div class="container_titulo"> 
              <h1 class="title_1">RUMBO </h1>
              <h1 class="title_2">TRAVEL</h1>
            </div> 
        <div class="logo2"><img src="/img/icon.ico" alt="" class="log1">
        <button class="boton_iniciar">iniciar sesion </button></div>
    </header>
    <hr>
    <div>
     <h3>Cabaña <color>Terco</color></h3>
        <div class="container_dettale">
            <div class="col-md-4 selecionar2">
                <div class="p_valor">desde</div>
                  <div class="container_valor">
                    <h6>1.042.000
                    </h6>
                    <p class="p_valor2">COP/Por persona y por estadía</p>
                  </div>
                <hr>
                 <label for="validationCustomUsername" class="form-label">fecha</label>
                 <div class="input-group has-validation">
                  <input type="date" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                  <div class="invalid-feedback">
                    por favor ingrese una fecha.
                  </div>
                </div >
                <hr>
                  <div class="col-12">
                    <button class="btn btn-primary btn_selecionar" type="submit">Selecionar</button>
                  </div>
        </div>
       
        <div class="agregar">
            <div class="container_detalle">
            <h5>Habitacion Doble</h5>
             <p>Aruba - Curacao - Bonaire - San Andrés - Cuba-Plan con desayuno<p>

                <p>Doble Plan con desayuno</p>

                <p>Tarifa adulto: 377.001 COP</p>
            </div>
            <hr>
            <div class="container_detalle2">
                <label for="validationCustomUsername" class="form-label">Numero de habitaciones</label>
                <input type="number" class="form-control inpus" placeholder="0"  required>
                 
                <label for="validationCustomUsername" class="form-label">Adultos</label>
                <input type="number" class="form-control inpus" placeholder="0" required>
                 
                <label for="validationCustomUsername" class="form-label ">Noches adicionales</label>
                <input type="number" class="form-control inpus" placeholder="0"  required>
                 
            </div>
            <hr>
            <div class="container_detalle3">
                <p>Total por 0 habitaciones Doble<p>
                    <p> 0 COP<p>
                        <p>Tarifa adulto, noche adicional:</p>
                            <p>189.001 COP Por persona y por estadía</p>
                <div class="col-12">
                    <button class="btn btn-primary btn_agregar" type="submit">Agregar</button>
                  </div>
            </div>
        </div>

        <div class="agregar">
            <div class="container_detalle">
            <h5>Habitacion  Triple</h5>
             <p>Aruba - Curacao - Bonaire - San Andrés - Cuba-Plan con desayuno<p>

                <p>Doble Plan con desayuno</p>

                <p>Tarifa adulto: 377.001 COP</p>
            </div>
            <hr>
            <div class="container_detalle2">
                <label for="validationCustomUsername" class="form-label">Numero de habitaciones</label>
                <input type="number" class="form-control inpus" placeholder="0"  required>
                 
                <label for="validationCustomUsername" class="form-label">Adultos</label>
                <input type="number" class="form-control inpus" placeholder="0" required>
                 
                <label for="validationCustomUsername" class="form-label ">Noches adicionales</label>
                <input type="number" class="form-control inpus" placeholder="0"  required>
                 
            </div>
            <hr>
            <div class="container_detalle3">
                <p>Total por 0 habitaciones Doble<p>
                    <p> 0 COP<p>
                        <p>Tarifa adulto, noche adicional:</p>
                            <p>189.001 COP Por persona y por estadía</p>
                <div class="col-12">
                    <button class="btn btn-primary btn_agregar" type="submit">Agregar</button>
                  </div>
            </div>
        </div>

        <div class="agregar">
            <div class="container_detalle">
            <h5>Habitacion  Triple</h5>
             <p>Aruba - Curacao - Bonaire - San Andrés - Cuba-Plan con desayuno<p>

                <p>Doble Plan con desayuno</p>

                <p>Tarifa adulto: 377.001 COP</p>
            </div>
            <hr>
            <div class="container_detalle2">
                <label for="validationCustomUsername" class="form-label">Numero de habitaciones</label>
                <input type="number" class="form-control inpus" placeholder="0"  required>
                 
                <label for="validationCustomUsername" class="form-label">Adultos</label>
                <input type="number" class="form-control inpus" placeholder="0" required>
                 
                <label for="validationCustomUsername" class="form-label ">Noches adicionales</label>
                <input type="number" class="form-control inpus" placeholder="0"  required>
                 
            </div>
            <hr>
            <div class="container_detalle3">
                <p>Total por 0 habitaciones Doble<p>
                    <p> 0 COP<p>
                        <p>Tarifa adulto, noche adicional:</p>
                            <p>189.001 COP Por persona y por estadía</p>
                <div class="col-12">
                    <button class="btn btn-primary btn_agregar" type="submit">Agregar</button>
                  </div>
            </div>
        </div>
        <div class="detalles">
            <h3>Aventura en la ciudad perdida en Santa Marta</h3>
            <ul>
                <p><strong>Descripción:</strong>
                    <hr class="corto">Disfruta de una experiencia inolvidable en los Alpes Suizos. Este paquete te
                    ofrece la oportunidad de explorar paisajes montañosos impresionantes, practicar deportes de invierno, y
                    relajarte en encantadores pueblos alpinos.
                </p>
            </ul>
    
        <p><strong>Incluye:</strong>
            <hr class="corto">
        </p>
        <ul>
            <li>Hospedaje en hoteles 4 estrellas</li>
            <li>Transporte terrestre durante el Tour</li>
            <li>Actividades de esquí y snowboard</li>
            <li>Guía turístico bilingüe</li>
            <li>Eventos culturales o festivales</li>
            <li>Desayuno y Almuerzo</li>
            <li>Visitas guiadas a atracciones principales</li>
        </ul>

        <p><strong>No Incluye:</strong>
            <hr class="corto">
        </p>
        <ul>
            <li>Visitas a mercados locales</li>
            <li>Clases de cocina</li>
            <li>Visitas a comunidades indigenas</li>
            <li>Actividades de aventuras</li>
            <li>vida noturna local</li>
            <li>Recorridos por senderos naturales
            <li>Comida en restaurantes locales</li>
            <li>Hospedaje en hoteles 4 estrellas</li>
            <li>Transporte terrestre durante el Tour</li>
            <li>Actividades de esquí y snowboard</li>
            <li>Guía turístico bilingüe</li>
        </ul>
</div>
        
    </div>
</body >

</html>