<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/css/sweetalert2.min.css" />
    <link rel="stylesheet" href="../../static/css/css/style_paquets.css" />
    <title>Document</title>
</head>
<body>
    <header class="contenido-menu">
        <div class="logo"><img src="" alt="" class="log"></div>   
            <div class="container_titulo"> 
              <h1 class="title_1">RUMBO </h1>
              <h1 class="title_2">TRAVEL</h1>
            </div> 
        <div class="logo2"><img src="/img/icon.ico" alt="" class="log1">
        <button class="boton_iniciar">iniciar sesion </button></div>
    </header>
   <hr>
    <div class="container1">
        <div class="title_nuqui">NUQUI</div>
        <div class="contenedor">
            <div class="content" id="content">
                <div class="contenido">
                    <div class="container_paquetes1">
                        <div class="imagen">
                            <img src="/img/R.jpeg" alt="">
                        </div>
                        <div class="container_informacion">
                            <div class="informacion">
                                <ul>
                                    <h3>Producto RumboTravel - Choco - eje_cafetero</h3>
                                    <p>3 Días  2 Noche(s)</p>
                                    <p>Acomodación: Cuadruple</p>
                                    <p>Vigencia de viaje desde 2024-08-06 hasta 2024-12-20</p>         
                                    <span>Ubicado en nuqui. A 50 minutos del aeropuerto de nuqui.</span><br>
                                    <p></p><strong></strong>*Tarifas sujetas a cambio y disponibilidad sin previo aviso</strong></p>
                                    
                                </ul>
                            </div>
                            <hr>
                            <div class="boton">
                                <div class="container_tex">
                                    <div class="p_valor">desde</div>
                                    <div class="container_valor">
                                        <h6>1.042.000
                                        </h6>
                                        <p class="p_valor2">COP/Por persona y por estadía</p>
                                    </div>
                                    
                                </div>
                                
                               <button class="color_boton">Ver mas </button>
                            </div>
                        </div>
                    </div>
            
                    <div class="container_paquetes2">
                        <div class="imagen">
                            <img src="/img/cabanas-playa-terco.jpg" alt="">
                        </div>
                        <div class="container_informacion">
                            <div class="informacion">
                                <ul>
                                    <h3>Producto RumboTravel - Choco -eje_cafetero</h3>
                                    <p>3 Días  2 Noche(s)</p>
                                    <p>Acomodación: Cuadruple</p>
                                    <p>Vigencia de viaje desde 2024-08-06 hasta 2024-12-20</p>         
                                    <span>Ubicado en nuqui. A 50 minutos del aeropuerto de nuqui.</span><br>
                                    <p></p><strong></strong>*Tarifas sujetas a cambio y disponibilidad sin previo aviso</strong></p>
                                    
                                </ul>
                            </div>
                            <hr>
                            <div class="boton">
                                <div class="container_tex">
                                    <div class="p_valor">desde</div>
                                    <div class="container_valor">
                                        <h3>1.042.000
                                        </h3>
                                        <p class="p_valor2">COP/Por persona y por estadía</p>
                                    </div>
                                    
                                </div>
                                
                               <button class="color_boton">Ver mas </button>
                            </div>
                        </div>
                    </div>
                </div>

              </div>
        </div>
       
        <div class="pagination">
            <button class="prev">Anterior</button>        
            <ul class="pages" id="pages">
            <div class="numeros " id="div1"><li class="page active" id="page1">1<li></div>
            <div class="numeros " id="div2"><li class="page" id="page2">2</li></div>
            <div class="numeros " id="div3"><li class="page" id="page3">3</li></div>
              
            </ul>
            <button class="next">Siguiente</button>
          </div>
          
    </div>
    
     
          <script src="../../static/js/sweetalert2.all.min.js"></script>
          <script src="../../static/js/bootstrap.bundle.min.js"></script>
          <script src="../../static/js/scripts.js"></script>
          <script src="../../static/js/paginacion.js"></script>  
          <script src="../../static/js/eje_cafetero.js"></script>  
 <div class="footer"></div>
</body >

</html>